<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Start event organisation </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">

        <h1 class="text-white fs-3 fw-bolder">Stay here </h1>
        <p class="text-white-50 mb-0">with event you will be more perfect </p>
    </div>
</header>
<!-- Content section-->
<div class=" d-flex justify-content-around"></div>
<section class="py-5">
    <div class="container my-5 ">
        <div class="col d-flex justify-content-center-around">
            <div class="col-4">
                <h2 style="text-align:center">Java</h2>

                <div class="card">
                    <img src="assets/images/java.jpg" alt="java event">
                    <h1>Java event</h1>

                    <p>do you love java ? welcome in this course of</p>
                </div>
            </div>

            <div class="col-4">
                <h2 style="text-align:center">club university</h2>

                <div class="card">
                    <img src="assets/images/club.jpg" alt="">
                    <h1>club event</h1>

                    <p>club at fsm university</p>

                </div>
            </div>
            <div class="col-4">
                <h2 style="text-align:center">club university</h2>

                <div class="card">
                    <img src="assets/images/club.jpg" alt="">
                    <h1>club event</h1>

                    <p>club at fsm university</p>

                </div>
            </div>
        </div>
    </div>



</section>


<section class="py-5">
    <div class="container my-5 ">
        <div class="col d-flex justify-content-center-around">
            <div class="col-4">
                <h2 style="text-align:center">music</h2>

                <div class="card">
                    <img src="assets/images/music.jpg" alt="java event">
                    <h1>Java event</h1>

                    <p>do you love music ? welcome in this event of art </p>
                </div>
            </div>

            <div class="col-4">
                <h2 style="text-align:center">coding club </h2>

                <div class="card">
                    <img src="assets/images/psst.png" alt="">
                    <h1>coding</h1>

                    <p>club programmer</p>

                </div>
            </div>
            <div class="col-4">
                <h2 style="text-align:center">sport</h2>

                <div class="card">
                    <img src="assets/images/sportive.jpg" alt="">
                    <h1>practice sport is good for helth</h1>

                    <p>course event</p>

                </div>
            </div>
        </div>
    </div>



</section>

<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('assets/images/sportive.jpg')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>event Image</h2>
                <p class="lead">“Nous devons considérer que tous les événements qui nous arrivent sont des événements
                    heureux.”.</p>
                <p class="mb-0">“Nous devons considérer que tous les événements qui nous arrivent sont des événements
                    heureux.”</p>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Grazie</p>
    </div>
</footer>